<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost/juegohibernate</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
  <mapping class="org.hectordam.beans.Usuarios"/>
  <mapping class="org.hectordam.beans.Personajes"/>
  <mapping class="org.hectordam.beans.Misiones"/>
  <mapping class="org.hectordam.beans.Armas"/>
  <mapping class="org.hectordam.beans.Mapas"/>
  <mapping class="org.hectordam.beans.Login"/>
 </session-factory>
</hibernate-configuration>
